<html>
    <head>
        <title>Numbers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tre.css') }}">
    </head>
    <body>
        <h1>Numbers: che numero ho pensato?</h1>
        <p>clicca su un numero per vedere se è quello che ho pensato</p>
        <div class="divvone">
            <a href="/risultato/1"><img src="static/images/1.png"></a>
            <a href="/risultato/2"><img src="static/images/2.png"></a>
            <a href="/risultato/3"><img src="static/images/3.png"></a>
            <a href="/risultato/4"><img src="static/images/4.png"></a>
            <a href="/risultato/5"><img src="static/images/5.png"></a>
            <a href="/risultato/6"><img src="static/images/6.png"></a>
            <a href="/risultato/7"><img src="static/images/7.png"></a>
            <a href="/risultato/8"><img src="static/images/8.png"></a>
            <a href="/risultato/9"><img src="static/images/9.png"></a>
        </div>
    </body>
</html>