<html>
    <head>
        <title>Numbers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/due.css') }}">
    </head>
    <body>
        <h1>Numbers: che numero ho pensato?</h1>
        <p>clicca su un numero per vedere se è quello che ho pensato</p>
        <div class="divvone">
            <img src="static/images/1.png">
            <img src="static/images/2.png">
            <img src="static/images/3.png">
            <img src="static/images/4.png">
            <img src="static/images/5.png">
            <img src="static/images/6.png">
            <img src="static/images/7.png">
            <img src="static/images/8.png">
            <img src="static/images/9.png">
        </div>
    </body>
</html>